@charset "utf-8";
/* CSS Document */


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner 
	  {
        padding: 0;
      }
      .navbar .nav 
	  {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li 
	  {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a 
	  {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a
	   {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a 
	  {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
	  
	  
	  
	  /*   my style in the page   */
	   
	   
	   /*this style is used for messeges inoreder to show then in li */
.bs-docs-sidenav {
cursor:pointer;
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li {
cursor:pointer;
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child {
		  cursor:pointer;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child  {		
  cursor:pointer;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > .active
 {
 		  cursor:pointer;
color :white;
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
		  background-color : #0088cc;
}
